Repository ska-telescope/ska-sdp-spack, changes with the owners that CODEOWNERS names for each.
All owners: @mnijhuis-tos, @bramveenboer, @saeid.aliei, @scpmw

SP-4997 Specify Python version to use on AWS
  env/full/spack.yaml
Owners: @mnijhuis-tos

SP-4997 Make spack version configurable
  .gitlab-ci.yml
Owners: @mnijhuis-tos

SP-4997 Simplify Spack build stages for 0.23
  .gitlab-ci.yml
  os/spack.yaml
Owners: @mnijhuis-tos

AST-1460 Add EveryBeam 0.6.1
  packages/everybeam/package.py
Owners: @mnijhuis-tos

AST-1460 WSClean and DP3 can use EveryBeam 0.6.x
  packages/dp3/package.py
  packages/wsclean/package.py
Owners: @scpmw, @mnijhuis-tos

AST-1460 Use DP3 6.1 in environment
  os/spack.yaml
Owners: @mnijhuis-tos

SP-4997 Add HPC toolkit to AWS environment
  env/aws/spack.yaml
Owners: @mnijhuis-tos

SP-4997 Add AWS lock file
  env/aws/spack.lock
Owners: @mnijhuis-tos

AST-1460 Add WSClean 3.5; Use in environment
  os/spack.yaml
  packages/wsclean/package.py
Owners: @mnijhuis-tos

SP-4997 Concretise
  env/aws/spack.lock
Owners: @mnijhuis-tos

SP-4997 Try to debug problem with containerisation
  .gitlab-ci.yml
  os/spack.yaml
Owners: @mnijhuis-tos

SP-4997 Add hpctoolkit
  env/aws/spack.lock
  env/aws/spack.yaml
Owners: @mnijhuis-tos

AST-1460 Add WSClean 3.5; Use in environment
  os/spack.yaml
  packages/wsclean/package.py
Owners: @mnijhuis-tos

AST-1460 WSClean and DP3 can use EveryBeam 0.6.x
  packages/dp3/package.py
  packages/wsclean/package.py
Owners: @scpmw, @mnijhuis-tos

AST-1460 Use DP3 6.1 in environment
  os/spack.yaml
Owners: @mnijhuis-tos

AST-1460 Add EveryBeam 0.6.1
  packages/everybeam/package.py
Owners: @mnijhuis-tos

AST-1460 Add EveryBeam 0.6.1
  os/spack.yaml
  packages/dp3/package.py
  packages/everybeam/package.py
  packages/wsclean/package.py
Owners: @mnijhuis-tos, @scpmw

HIP-1122 add first version of batch preprocessing
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 add ska-ser-sphinx-theme package
  packages/py-ska-ser-sphinx-theme/package.py
Owners: @mnijhuis-tos

HIP-1122 update package
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 update package
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 update the package
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 add a working versio
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 fix spack license
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 update liniting
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

AST-1640 Update import statements; Remove (partial) copyright headers
  packages/aoflagger/package.py
  packages/dal2/package.py
  packages/dp3/package.py
  packages/dysco/package.py
  packages/everybeam/package.py
  packages/hipfft-cuda/package.py
  packages/idg/package.py
  packages/lofarstman/package.py
  packages/pmt/package.py
  packages/pqxx-autotools/package.py
  packages/pqxx/package.py
  packages/py-casacore/package.py
  packages/qpid/package.py
  packages/rum/package.py
  packages/wsclean/package.py
Owners: @bramveenboer, @scpmw, @mnijhuis-tos

AST-1640 Remove ducc copyright and license headers
  packages/ducc/package.py
  packages/py-ducc/package.py
Owners: @saeid.aliei

HIP-1075 fix indentation
  packages/py-ska-sdp-func/package.py
Owners: @scpmw

HIP-1122 update liniting
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1122 update the package
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1075 fix package path
  packages/py-oskar/package.py
Owners: @mnijhuis-tos

HIP-1122 update package
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1075 remove string develop from output version in spack
  packages/py-ska-sdp-func/package.py
Owners: @scpmw

HIP-1075 add ska-sdp-func python bindings package
  packages/py-ska-sdp-func/package.py
Owners: @scpmw

HIP-1075 fix indentation
  packages/py-ska-sdp-func/package.py
Owners: @scpmw

HIP-1122 fix spack license
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

HIP-1075 add OSKAR package
  oskar/package.py
Owners: @mnijhuis-tos

HIP-1075 add ska-sdp-func package
  packages/ska-sdp-func/package.py
Owners: @mnijhuis-tos

HIP-1075 add OSKAR python bindings package
  py-oskar/package.py
Owners: @mnijhuis-tos

HIP-1122 update package
  packages/py-ska-sdp-batch-preprocess/package.py
Owners: @mnijhuis-tos

CODEOWNERS:

# Default owner(s)
* @mnijhuis-tos

# Overrides for specific packages
/packages/dal2/ @bramveenboer
/packages/ducc/ @saeid.aliei
/packages/hipfft-cuda/ @bramveenboer
/packages/idg/ @mnijhuis-tos @bramveenboer
/packages/pmt/ @bramveenboer
/packages/pqxx*/ @bramveenboer
/packages/py-ducc/ @saeid.aliei
/packages/qpid/ @bramveenboer
/packages/rum/ @bramveenboer
/packages/py-astroplan/ @scpmw
/packages/py-astropy-healpix/ @scpmw
/packages/aoflagger/package.py
/packages/dp3/ @scpmw
/packages/py-astroplan/ @scpmw
/packages/py-astropy-healpix/ @scpmw
/packages/py-extension-helpers/ @scpmw
/packages/py-pyerfa/ @scpmw
/packages/py-reproject/ @scpmw
/packages/py-ska-sdp-datamodels/ @scpmw
/packages/py-ska-sdp-distributed-self-cal-prototype/ @scpmw
/packages/py-ska-sdp-exec-swiftly/ @scpmw
/packages/py-ska-sdp-func-python/ @scpmw
/packages/py-ska-sdp-func/ @scpmw
/packages/py-ska-telmodel/ @scpmw
/packages/py-toolviper/ @scpmw
/packages/py-xradio/ @scpmw
/packages/py-yaml/ @scpmw
